
        source [find interface/stlink.cfg]
        transport select hla_swd
        source [find target/stm32f1x.cfg]
        adapter speed 10000
        #选择调试工具stlink
        #选择调试接口swd
        #选择被调试的芯片
        #选择调试速度
